.modal-dialog {
  margin-top: 10vh;
  max-width: 90%;
  /* max-height: 90vh; */
  /* height: 80vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: black; /* Set the text color to black */
  overflow-y: hidden;
  font-size: 87%;
}

.modal-header {
  margin-top: 0vh; /* Set the top margin of the image */
  color: black; /* Set the header text color to black */
}

.modal-title h2 {
  font-size: 1.1em; /* Set the font size of the span element */
  width: auto;
  padding-left: 14vw;
  padding-right: 14vw;
}

.modal-body{
  max-height: calc(100vh - 300px);
  overflow-y: auto;
  padding-left: 15vw;
  padding-right: 15vw;
  font-size: 1em; /* Adjust the value as needed */
}
.modal-body img {
  overflow-y: auto;
}
.modal-body h2 {
  font-size: 1.6em; /* Adjust the value as needed */
  margin: 10px 0;
}
.modal-body h3 {
  font-size: 1.6em; /* Set the font size of the span element */
  margin: 20px 0;
}
.modal-body h4 {
  font-size: 1.4em; /* Set the font size of the span element */
  margin: 20px 0;
}
.modal-body span {
  font-size: 1.1em; /* Set the font size of the span element */
  margin-bottom: 0.5%;
  display: block;
}
.modal-body span_sub {
  font-size: 1.1em; /* Set the font size of the span element */
  margin-top:1%;
  margin-bottom: 1%;
  display: flex;
  justify-content: center; /* Align the text horizontally at the center */
  align-items: center; /* Align the text vertically at the center */
}

.modal-body .number-section {
  font-weight: bold;
}

.modal-body .number-section2 {
  font-weight:500;
}
/************ Modal Css ************/
/* 
body.modal-open {
  overflow: auto !important;
  position: initial;
  padding-right: 0;
} */

  