.modal-dialog {
  margin-top: 13vh;
  max-width: 80vw; /* Set the maximum width of the modal dialog */
  width: auto; /* Set the width of the modal dialog */
  max-height: 90vh; /* Set the maximum height of the modal dialog to 90% of the viewport height */
  height: auto; /* Let the height adjust based on content */
  display: flex;
  align-items: center;
  justify-content: center;
  color: black; /* Set the text color to black */
  overflow-y: auto;
}

.modal-header {
  margin-top: 0vh; /* Set the top margin of the image */
  color: black; /* Set the header text color to black */
}

.modal-title h2 {
  font-size: 28px; /* Set the font size of the span element */
  width: auto;
  padding-left: 14vw;
  padding-right: 14vw;
}

.modal-body{
  max-height: calc(100vh - 300px);
  overflow-y: auto;
  padding-left: 15vw;
  padding-right: 15vw;
}
.modal-body img {
  overflow-y: auto;
}
.modal-body h2 {
  font-size: 26px; /* Set the font size of the span element */
  margin: 10px 0;
}
.modal-body h3 {
  font-size: 24px; /* Set the font size of the span element */
  margin: 20px 0;
}
.modal-body h4 {
  font-size: 22px; /* Set the font size of the span element */
  margin: 20px 0;
}
.modal-body span {
  font-size: 20px; /* Set the font size of the span element */
  margin-bottom: 0.5%;
  display: block;
}

.modal-body span_sub {
  font-size: 16px; /* Set the font size of the span element */
  margin-top:1%;
  margin-bottom: 1%;
  display: flex;
  justify-content: center; /* Align the text horizontally at the center */
  align-items: center; /* Align the text vertically at the center */
}

.modal-body .number-section {
  font-weight: bold;
}

.modal-body .number-section2 {
  font-weight:500;
}
/************ Modal Css ************/
/* 
body.modal-open {
  overflow: auto !important;
  position: initial;
  padding-right: 0;
} */

  